<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Tarea3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BAA1B3001F72F740007CAAB8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BAA1B3191F72F740007CAAB8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BAA1B3241F72F740007CAAB8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
